<div class="jumbotron text-light bg-dark shadow">
  <h1 class="text-center">Online Sugoroku</h1>
  <p class="text-center">Let's have fun, friends.</p>
  <div class="row mb-5"></div>
  <div class="row justify-content-center">
    <div class="col-3">
      <%= link_to 'Create a new Game', new_game_path, class: 'btn btn-light btn-lg btn-block border' %>
    </div>
    <div class="col-3">
      <button class="btn btn-dark btn-lg btn-block border">Join Existing Game</button>
    </div>
  </div>
</div>
